body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #fff;
    border: 5px solid #abcea1;
    border-radius: 8px;
    padding: 15px;
    position: relative;
}

@media (min-width: 750px) {
    .wrapper {
        max-width: 400px;
    }
}

.app {
    width: 100%;
    height: 100%;
    margin: 5px auto;
    overflow-y: hidden;
    position: relative;
}

.header {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
}

.card {
    border: 3px solid #abcea1;
    background-color: #e2eede;
}

.card-body {
    overflow-y: scroll;
}

.card-body::-webkit-scrollbar {
    display: none;
}

.button,
#deleteBtn {
    width: 100%;
    background-color: #abcea1;
    border: none;
}

#update {
    display: none;
}

.fa-plus {
    background-color: #abcea1;
    padding: 3px;
    border-radius: 3px;
}

#task-header {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

#task-header div {
    margin: auto 0;
}

#sort {
    border: 3px solid #abcea1;
    border-radius: 3px;
    background-color: #e2eede;
}

#tasks {
    max-height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    overflow-y: scroll;
    margin-top: 150px;
}

#tasks::-webkit-scrollbar {
    display: none;
}

#tasks .card-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#tasks .options i {
    cursor: pointer;
}

#tasks .card-header {
    max-height: 30px;
}

#tasks .card-body {
    padding: 5px;
    max-height: 55px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow-y: hidden;
    transition: max-height 5s cubic-bezier(0, 1, 0, 1);
}

#tasks .card-body.open {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -webkit-line-clamp: initial;
    transition: max-height 5s ease-in-out;
}

.modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 50% auto;
    padding: 20px;
    width: 80%;
    border: 3px solid #abcea1;
    border-radius: 10px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#deleteBtn {
    border-radius: 5px;
}
